<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">t00r</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/TOCR?unicode=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping package="com.maheffa.TabulatedOCR.DBManager"/>
        <mapping resource="com/maheffa/TabulatedOCR/DBManager/Ocrconfig.hbm.xml" />
        <mapping resource="com/maheffa/TabulatedOCR/DBManager/Format.hbm.xml" />
        <mapping resource="com/maheffa/TabulatedOCR/DBManager/TableFormat.hbm.xml" />
        <mapping resource="com/maheffa/TabulatedOCR/DBManager/Project.hbm.xml" />
        <mapping resource="com/maheffa/TabulatedOCR/DBManager/ColumnCharacteristic.hbm.xml" />
        <mapping resource="com/maheffa/TabulatedOCR/DBManager/TextFormat.hbm.xml" />
    </session-factory>
</hibernate-configuration>
